name: Build and publish docs

on:
  workflow_call:
  workflow_dispatch:

jobs:
  docs:
    concurrency: ci-${{ github.ref }}
    name: Build and publish docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "yarn"

      - name: Install project dependencies
        run: yarn

      - name: Build docs
        run: yarn docs

      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          folder: ./docs
