name: Run Tests and Display Coverage

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache Yarn packages
        uses: actions/cache@v2
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Run tests and collect coverage
        run: yarn test --coverage
        env:
          TEST_PRIVATE_KEY: "{{ secrets.TEST_PRIVATE_KEY }}"

      - name: Upload coverage to Codecov
        uses: actions/upload-artifact@v3
        with:
          name: coverage.lcov
          path: coverage/lcov.info

      - name: Code Coverage Report
        uses: romeovs/lcov-reporter-action@v0.2.11
        with:
          github_token: "{{ secrets.GH_TOKEN }}"
