name: Main workflow

on:
  push:
    branches:
      - main

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install ESLint
        run: |
          npm install eslint@8.39.0
          npm install @microsoft/eslint-formatter-sarif@3.0.0

      - name: Run ESLint
        run: npx eslint
          --config .eslintrc.js
          --format @microsoft/eslint-formatter-sarif
          --output-file eslint-results.sarif

  test:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "yarn"

      - name: Install project dependencies
        run: yarn

      - name: Run tests with coverage
        run: yarn test --coverage
        env:
          TEST_PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}

  docs:
    needs: test
    uses: ./.github/workflows/docs.yml
