name: Run Tests and Display Coverage

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      TEST_PRIVATE_KEY: "{{ secrets.TEST_PRIVATE_KEY }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "yarn"

      - name: Install project dependencies
        run: yarn

      - name: Run tests and collect coverage
        run: yarn test --coverage

      - name: Upload coverage to Codecov
        uses: actions/upload-artifact@v3
        with:
          name: coverage.lcov
          path: coverage/lcov.info

      - name: Code Coverage Report
        uses: romeovs/lcov-reporter-action@v0.2.11
        with:
          github_token: "{{ secrets.GH_TOKEN }}"
